body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    background-color: #1f2937;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.right-links {
    display: flex;
    gap: 36px;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

p {
    font-size: 18px;
}

.main {
    display: flex;
    flex-direction: column;
}

.awesome {
    display: flex;
    background-color: #1f2937;
    justify-content: space-evenly;
    gap: 30px;
    padding: 80px 200px;  
}

.awesome h2 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

.awesome p {
    color: #e5e7eb;
}

.website a {
    background-color: #3882f6;
    font-size: 16px;
    color: white;
    font-weight: bold;
    padding: 6px 32px;
    border-radius: 6px;  
    border-style: none;
}


.image {
    max-width: 500px;
    max-height: 245px;
    text-align: center;
}

.image img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
}

.info {
    padding-bottom: 100px;
    display: flex;
    flex-flow: column wrap;
}

.info h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
}

.cards {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 40px;
}

.card {
    padding: 20px;
    font-size: 12px;
    display: flex;
    flex-flow: column wrap;
    max-width: min-content;
    justify-content: center;
    align-items: center;
}

.card img {
    border: #3882f6;
    border-radius: 16px;
    border-style: solid;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    object-fit: cover;
}

.card p {
    text-align: center;
    font-size: 12px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    padding: 100px 400px;
}

.quote p {
    margin: 0;
    font-size: 36px;
    color: #1f2937;
    font-weight: 100;
    font-style: italic;
}

#author {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0;
    color: #1f2937;
    font-style: normal;
    align-self: flex-end;
}

.c2a {
    display: flex;
    justify-content: center;
    padding: 100px 200px;
    color: #f9faf8;
}

.call-container {
    display: flex;
    background-color: #3882f6;
    padding: 30px 150px;
    border-radius: 6px;
    text-align: left;
    gap: 250px;
}

.call-container h4 {
    font-size: 18px;
    margin: 0;
}

.call-container p {
    font-size: 12px;
    margin: 0;
}

.call-container a {
    font-size: 16px;
    color: white;
    font-weight: bold;
    padding: 6px 32px;
    border-radius: 6px;  
    border: 2px solid white;
} 

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 6px;
}

.copyright {
    font-size: 12px;
}